In [178]:
import requests
import numpy as np
import pandas as pd
import datetime

In [21]:
API_ENDPOINT_URL =  'http://lauzhack.sqpub.ch/histo'

r = requests.get(API_ENDPOINT_URL)

In [36]:
raw_data = r.text.split('\n')

In [190]:
data_series = pd.Series(raw_data)

data_series = data_series.str.split(' ')

data = pd.DataFrame(data_series.values.tolist(), index=data_series.index)
data.columns = ['timestamp', 'price']
data['timestamp'] = pd.to_datetime(data.timestamp)
data.set_index('timestamp', inplace=True)
data['price'] = data['price'].astype(float)

In [191]:
data.head()

                           price
timestamp
2018-11-23 20:03:03.969  4230.00
2018-11-23 20:03:04.439  4230.00
2018-11-23 20:03:04.519  4230.00
2018-11-23 20:03:04.994  4229.99
2018-11-23 20:03:04.994  4229.75

In [200]:
mean_minute = data.groupby(pd.Grouper(freq='60s')).mean()

mean_minute.head()

                           price
timestamp
2018-11-23 20:03:00  4228.882162
2018-11-23 20:04:00  4225.162500
2018-11-23 20:05:00  4225.610645
2018-11-23 20:06:00  4225.477000
2018-11-23 20:07:00  4229.185435